#wrapper{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;

    display: grid;
    grid-template-rows: 60vh 20vh 20vh;
    row-gap: 3vh;

    background: rgb(19,55,92);
    background: linear-gradient(122deg, rgba(19,55,92,1) 18%, rgba(21,30,55,1) 91%);

    .main-info{
        display: grid;
        justify-content: center;
        grid-template-rows: .3fr .2fr .5fr 2fr 1fr;

        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;

        color: #ffffff;

        background: rgb(5,204,255);
        background: linear-gradient(155deg, rgba(5,204,255,1) 0%, rgba(91,116,255,1) 50%, rgba(176,30,255,1) 100%);

        .location{
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 1.5rem;
            font-weight: bold;

            img{
                width: 6%;
                margin-right: 5%;
            }
        }

        .description{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .temp{
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 6rem;
        }

        .icon{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                position: absolute;
                max-width: 60%;
                transform: scale(1.8);
            }
        }


        .info-tiles{
            width: 100%;
            height: 100%;
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .info-tiles-item{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                img{
                    height: 3vh;
                }
            }

        }
    }

    .hourly-forecast{
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;

        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            :first-child{
                font-size: 1.2rem;
            }

            :last-child{
                color: #a4bbff;
            }
        }

        #forecast-item-collection{
            position: absolute;
            height: fit-content;
            width: 90%;
            overflow-x: scroll;

            display: grid;
            align-items: center;
            grid-template-columns: 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw 20vw;
            column-gap: 2vw;
            grid-template-rows: 20vh;

            .forecast-item{
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                border-radius: 1rem;
                background: #274157;

                img{
                    height: 50%;
                }
            }

            .forecast-item:nth-child(2){
                background: rgb(255,194,26);
                background: linear-gradient(122deg, rgba(255,194,26,1) 0%, rgba(255,108,31,1) 50%);
            }
        }
    }

    .additional-infos{
        display: flex;
        justify-content: center;
        width: 80%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        background: #274157;
        border-radius: 1rem;

        .info-item{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 30%;

            .pie-chart {
                font-size: .7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background:
                radial-gradient(
                    circle closest-side,
                    #274157 0,
                    #274157 85%,
                    transparent 10%,
                    transparent 100%,
                    #274157 0
                ),
                conic-gradient(
                    #ff701f 0,
                    #ff701f 40%,
                    #7c8291 0,
                    #7c8291 100%
            );
                width: 60%;
                aspect-ratio: 1/1;
                margin-top: 1vh;
                border-radius: 1rem;
            }
        }

        
    }
}
